li {
  list-style: none;
}
ul {
  padding-left: 0;
}
input[type="text"] {
  width: 50%;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 4px;
  font-size: 16px;
  padding-left: 5px;
}
.card {
  height: 520px;
}
.card img {
  transition: all ease-in 0.3s;
}
.card:hover img {
  transform: translateY(-20px);
}
